@tailwind base;
@tailwind components;
@tailwind utilities;


.form-card{
  margin-left: 11%;
  margin-top: 5%;
}
.card{
  background-color: white;
  width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  color: black;
  border: none;
  border-radius: 20px;
}
.card-header{
  padding: 50px;
  background-color: #74158F;
  color: white;
}
.inp{
  width: 100%;
  margin-bottom: 15px;
  border-radius: 25px;
  font-size: 30px;
  padding: 10px;
  padding-left: 50px;
}
.inp::placeholder{
  color: #3d3c3d;
}
.inp:focus,
.inp:hover{
  outline: none;
  border-bottom: 1px solid rgb(65, 9, 125);
  border-image: 5px linear-gradient(to right, purple , black);
} 
.submit-button{
  background-color: #74158F;
  color: white;
  border: 4px solid white;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 60px;
  width: 250px; 
}
.submit-button p{
  font-size: 30px;
  padding-top: 11px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  
}
.submit-button:hover{
  background-color: #75158fda;
  border: 4px solid white;

}
.links{
  text-decoration: none;
  color: #74158F;
}

.nav-button{
  background-color: transparent;
  color: white;
  margin-right: 5px;
  border: none;  
}
.nav-button-active{
  background-color: #8e22ac;
  color: white;
  margin-right: 5px;
  border: 4px solid #8e22ac ;
  border-radius: 50px;
  
}
.nav-button-active:hover{
  background-color: #8e22ac;
  border: 4px solid #75158fda;
}