
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url(../src/assets/back3.png);
    background-color: black ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    color: black;
    font-size: 28px;
    text-decoration: none;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700 */

.font {
  font-family: "Comfortaa", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 500;
  /* font-style: normal; */
  font-size: 70px;
}

.font-2 {
    font-family: "Urbanist", sans-serif;
    /* font-optical-sizing: auto; */
    font-weight: 500;
    /* font-style: normal; */
    font-size: 22px;
}

.font-3 {
    font-family: "Comfortaa", sans-serif;
    /* font-optical-sizing: auto; */
    font-weight: 500;
    /* font-style: normal; */
    font-size: 50px;
}